body{
    font-size:12px ;
    font-family:Ariel,sans-serif;
    background-color:rgb(10,143,114);
    border: #0fe291;
         
}
    h1{
        margin: 10px auto;
        text-align: center;
        padding: 10px;
        font-size: 30px;
        }
    form{
        background-color:#053333;
        font-size: 35px;
        font-family: "Times New Roman",serif;
        margin: 10px auto;
        box-shadow: 4px 4px 16px #035327;
        border: 3px solid;
        text-align: center;
        width: 350px;
        padding: 10px;
        border: #053333;
        border-radius: 1em;

    }
    form ul{
        list-style: none;
        padding:0 ;
        margin: 0;
    }
    form li+li{
        margin-top: 1px;
    }
    form input,textarea{
        margin-top: 1px;
        font-size: 10px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: #022424;
        width: 100px;
    }
    form label{
        margin-top: 1px;
        font-size: 15px;
        display: inline-block;
        width: 150px;
        text-align: right;

    }
    input:focus, textarea:focus {
        border-color: #000;
    }
    textarea{
        vertical-align: top;
        height: 5em;
        resize: vertical;
    }
    form input:required{
        background:#fff url(asterisco10.jpg)no-repeat 98%;
    }
    form textarea:required{
        background:#fff url(asterisco10.jpg)no-repeat 98%;
    }
    form input:required:valid{
        background:#fff url(valido.jpg)no-repeat 98%;
        border-color: #b03535;
    }
    form textarea:required:valid{
        background:#fff url(valido.jpg)no-repeat 98%;
        border-color: #28981f;
    }
    form input:required:invalid{
        background:#fff url(invalido.jpg)no-repeat 98%;
        border-color: #28981f;  
    }

    .button{
            border:none ;
            border-radius: 15px;
            padding: 3px 30px;
            outline:none;
            background-color: #042b0cf6;
            color:#e4eaf1d2 ;
            font-size: 15px;
            box-shadow:0px 6px #02571fee ;
            cursor: pointer;
            height:30px;

        }
        .button:hover{
            background-color: #041938d2;

        }
        .button:active{
            background-color: #041938d2;
            box-shadow:0px 4px #032f6dd2 ;
            transform:translateY(4px) ;

        }
        